<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iFriendsPet</title>

<meta property="og:title" content="iFriendsPet">
<meta property="og:type" content="website">
<meta property="og:image" content="<%=photo%>">
<meta property="og:url" content="<%=photo%>">
<meta property="og:description" content="순간의 기록, 영원한 추억. 아이프렌즈펫">
<meta property="fb:app_id" content="203562140050845">

<link rel="stylesheet" href="../public/stylesheets/shareSnap.css">
<script src="../public/javascripts/executeAppOrGoStore.js"></script>

</head>
<body>
<div class="container">
    <div class="main">
        <div class="capture">
            <div class="responsive">
<% if( contentType == 'photo' ){ %>

                <img src="<%=photo%>" class="captureImg" />

<% } else if( contentType == 'video' ){ %>

                <div class="movie-player-wrapper">
                    <div class="wrap">
                        <video width="100%" poster="<%=photo%>" height="100%" controls controlsList="nodownload">
                            <source src="<%=video%>" />
                        </video>
                    </div>
                </div>
<% } %>
            </div>
        </div>
        <div class="cover">
            <img src="/public/images/snap_bg0_top.jpg" class="coverImg" id="randomCover" />
        </div>
        <div class="snapTextArea">
            <%= text %>
        </div>

<% if( !preview ){ %>
        <div class="footerCon">
            <img src="/public/images/snap_bg0_btm.jpg" class="footerBg" />
            <div class="footer">
                <img class="logo" src="/public/images/logo1.png" />
                <div class="btnCon">
                    <a href="http://www.ifriendspet.com" target="_blank" class="btn0 btn">홈페이지 바로가기</a>
                    <a href="javascript:void(0)" onclick="executeAppOrGoStore();" class="btn1 btn" >앱 구경하기</a>
                </div>
            </div>
        </div>
<% } %>
    </div>
</div>
</body>
</html>



